.date {
    min-width: 15%;
    padding: 5px;
    margin: 1.5px;
    background: white;
    text-align: center;
    color: rgb(78, 78, 78);
    font-size: smaller;
    border: 1.5px solid rgb(226, 220, 209);
    border-radius: 0.3em;
}
.dateLine1 {
    display: inline-block;
    padding: 0 2px;
}
.dateLine2 {
    font-size: smaller;
    font-weight: bolder;
}