.filter {
    margin: 10px 0;
    align-self: flex-start;
}
.filter-wrapper {
    padding: 5px;
    /* background-color: seashell; */
}
select {
    margin-left: 10px;
    padding: 3px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.226);
}