@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.newForm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.newForm > div {
    background: lightcoral;
    width: 90%;
    padding: 10px;
    margin: 20px;
    border: 3px solid rgb(250, 154, 154);
    box-shadow: 0px 1px 3px rgb(155, 117, 117);
    border-radius: 0.2em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.newForm > div > div {
    margin: 10px;
}
.newDetails {
    display: inline-block;
    margin: 10px;

    display: flex;
    flex-direction: column;
}
label {
    margin: 0 3px 3px 0;
    /* text-transform: uppercase; */
    font-size: small;
    font-weight: 700;
}
input {
    font-family: 'Roboto';
    height: 25px;
    background: whitesmoke;
    border: 0;
    border-radius: 0.3em;
}
.newAddInfo {
    flex-grow: 1;
}
.submitDiv {
    justify-self: flex-end;
    align-self: flex-end;
}
.submitBtn {
    width: 60px;
    height: 25px;
    font-weight: 700;
    background: rgb(160, 0, 0);
    color: white;
    border-radius: 0.5em;
    border-color: rgb(150, 0, 0);
}