
#expenses, #income {
    width: 50%;
    padding: 20px;
    margin: 10px;
    background: rgb(255, 146, 133);
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.eachExpense, .eachIncome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.info {
    width: 65%;
}
.amount {
    min-width: 15%;
    padding: 7px;
    background: darkred;
    text-align: center;
    color: floralwhite;
    border: 3px solid rgb(199, 190, 173);
    border-radius: 0.3em;
}
.addNew {
    margin: 20px 0 0;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(252, 185, 178);
    background: rgb(50, 50, 50);
    border: 3px solid rgb(252, 185, 178);
    border-radius: 3em;
}