#body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainBox {
    background: white;
    min-height: 90vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#etMain {
    width: 80vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h1 {
    background: rgb(253, 242, 242);
    color: rgb(131, 46, 12);
    width: 90%;
    text-align: center;
    padding: 0.7em 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}